body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

.scene{
margin-top:40px;
display:flex;
justify-content:center;
gap:40px;
font-size:80px;
}

.message{
opacity:1;
}
